{% extends 'shared/base.html' %}

{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Library</title>
  </head>
  <body>

      {% block content %}
    <h1>Books</h1>


<a href="{% url 'libraryapp:book_form' %}">Add Book to Inventory</a>

    <ol>
      {% for book in all_books %}
      <li>
        <a href="{% url 'libraryapp:book' book.id %}"> {{ book.title }} </a>
        by {{ book.author }} published in {{ book.year_published }}
      </li>
      {% endfor %}
    </ol>

{% endblock %}

  </body>
</html>












<!-- {% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Library</title>
  </head>
  <body>
    <h1>Books</h1>

    <ol>
    {% for book in all_books %}
        <li>
            {{ book.title }}
            by {{book.author}}
            published in {{book.year_published}}
        </li>
    {% endfor %}
    </ol>
  </body>
</html> -->
